{
  "include": [
    "src"
  ],
  "extension": [
    ".ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "lib",
    "esm",
    "tests",
    "src/**/*.spec.ts",
    "src/types",
    "src/**/index.ts"
  ],
  "reporter": [
    "clover",
    "cobertura",
    "html",
    "json",
    "lcov",
    "text",
    "text-summary"
  ],
  "clean": true,
  "temp-dir": "reports/.nyc_ouptut",
  "report-dir": "reports/coverage",
  "all": true
}
